@use "../../assets/styles/colors" as *;

.header {
    position: sticky;
    z-index: 10000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background);
    opacity: 0.95;
    .logo {
        text-decoration: none;
        .light {
            color: #0e0e0e;
        }
        .dark {
            color: var(--primary-font-color)
        }
    }
    .navigation ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 5em;
        border-radius: 0 0 18px 18px;
        padding: 1em;
        margin: 0;
        background-color: var(--primary-background);
        li a {
            color: var(--primary-font-color);
            text-decoration: none;
            &:hover,
            &:focus {
                color: var(--accent-font-color);
            }
        }
    }
}
