@use "./../../assets/styles/colors" as *;

.hero {
    min-height: 100vh;
    background-color: var(--page-background);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    font-size: 3em;
    padding: 2em;
    h1 {
        font-size: 3em;
        color: var(--accent-font-color);
    }
}
