@use "../../assets/styles/colors" as *;

body {
    margin: 0;
    padding: 0;
    background-color: var(--page-background);
    color: var(--primary-font-color);
    font-family: "Montserrat";
    .container {
        padding-inline: 10vw;
    }
}

[dark-mode=on] {
    .logo {
        .light {
            display: none;
        }
    }
}

[dark-mode=off] {
    .logo {
        .dark {
            display: none;
        }
    }
}
.skip-link {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
    &:focus {
        background-color: #eee;
        clip: auto !important;
        clip-path: none;
        color: #444;
        display: block;
        font-size: 1em;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
    }
}

// Temporary styles - remove it later
.about-me {
    padding-block: 2em;
}
.footer {
    padding-block: 2em;
}
