:root {
    --common-color-white: #f5f6fa;
    --common-color-black: #1A202C;


    --page-background: var(--common-color-black);
    --primary-background: #171923;
    --accent-background: #38B2AC;


    --primary-font-color: var(--common-color-white);
    --accent-font-color: #38B2AC;
}
:root[dark-mode=off] {
    --page-background: #FFFFFF;
    --primary-background: var(--common-color-white);

    --primary-font-color: var(--common-color-black);
}
